html {
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-45deg, #3b48d7, #84f0dc, #d7bceb, #8391ed);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

p.is-visible {
    opacity: 1;
}

h1 {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 500ms;
}

h1.is-visible {
    opacity: 1;
    transform: translateX(50px);
}

.show-on-scroll {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-right: 80px;
}

p {
    margin-left: 80px
}

.members {
    text-align: center;
}