@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron:wght@400;500&family=Source+Sans+Pro:ital,wght@1,200;1,400&display=swap');

:root {
    --base: #00ccd3;

    --primary: #ffffff;
    --secondary: #e5e5e5;
    --tertiary: #e8e4e4;
    --quaternary: #f8f4f4;

    

    --primary-text: #000000;
    --secondary-text: #030303;
    --tertiary-text: #606060;

    --background: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}
