.search {
    display: flex;
    justify-content: center;    
    margin: auto;
}

.searchbar {
    display: flex;
    justify-content: center;    
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5rem;
    height: 5vh;
}

body {
    padding-bottom: 4rem;
}

.connectionTitle {
    text-align: center;
}