
body {
    margin: 0;
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: var(--primary);
    margin-bottom: 2rem;
    padding: 1px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.navbar .navbar_item {
    float: left;
    color: var(--primary-text);
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    transition: 200ms;
}

.navbar .navbar_item:hover {
    background-color: var(--quaternary);
}

.navbar .navbar_item:active {
    background-color: var(--secondary);
    color: var(--secondary-text);
}

.navbar .active {
    font-weight: bold;
    background-color: #04AA6D;
    color: white;
}

.navbar .active:hover .active:active {
    background-color: var(--secondary);
    color: black;
}

.navbar .login {
    float: right;
}