.container {
    display:block;
    margin-left: 30%;
}


.information {
    padding: 30px;
    max-width: 50%;
    background-color: var(--primary);
    border-radius: 10px;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    transition: 100ms;
}

/* .input_box {
    border: solid black 1px;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    transition: 100ms;
} */

.information:hover {
    padding: 50px;
}

.image {
    float: left;
    padding: 20px;
    max-width: 200%;
    height: auto;
}

ul {
    margin-top: 0%;
    display: block;
    overflow: hidden;
}

body {
    color: var(--primary-text)
}